<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>


  <appSettings>
    <add key="API_ID" value="28406007"/>
    <add key="API_HASH" value="cab10c8a4c0e9c99a180b3c7fc6c6aae"/>
  </appSettings>

</configuration>